html {
  background: url('http://static.squarespace.com/static/522a22cbe4b04681b0bff826/t/53ac9383e4b04975ec0853be/1403818884485/') no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size:100% 100%;
  background-size: 100% 100%;
  position: fixed;
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;

}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  position: fixed;
  width: 100%;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  float: left;
}
.badDancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.twerkDancer{
  border:5px solid yellow;
  border-radius:5px;
  position:absolute;
}

.napoleon{
  float: left;
  border: none;
  animation-name: spin;
  -webkit-animation-name: spin;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-iteration-count: infinite;
  visibility: visible !important;
}

.batman{
  -webkit-animation-name: rotate;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-iteration-count: infinite;
  visibility: visible !important;
}

.samus{

}

@-webkit-keyframes rotate{ 50% {-webkit-transform: rotateY(180deg);}}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } };
@keyframes spin {
  0% { transform: rotate (0deg) };
  100% { transform: rotate(360deg)};
};
